@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #0080ff;
  font-size: 20px;
  font-family: 'Montserrat';
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding: 5px; /* Esto elimina el espacio a la izquierda */
}

li {
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header {
  background-color: #333;
  color: white;
  padding: 16px 20px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;  /* Hace que el header esté fijo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  /* Asegura que el header esté por encima de otros elementos */
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

header .nav-links {
  display: flex;
  gap: 20px;
}

header .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

header .nav-links a:hover {
  color: #1d4ed8; /* Azul claro para hover */
}

.app-container {
  display: flex;
  height: 100vh;
  margin-top: 100px;
  overflow: hidden;
}

.sidebar {
  width: 25%;
  background: linear-gradient(to bottom, #007bff, #0056b3);
  color: white;
  padding: 20px;
  height: calc(100vh - 100px);
  font-size: 23px;
  position: fixed;
  top: 100px; 
  left: -42px;
}


.content {
  width: 75%;
  padding-top: 20px;
  padding-left: 50px;
  height: calc(100vh - 100px);
  background: white;
  margin-left: 25%; /* Asegura que el contenido no se superponga con el sidebar */
  margin-top: 100px;
  height: auto;
  overflow-y: auto; /* Da más espacio para el header fijo */
}

/* Enlaces de navegación */
.nav-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}

.nav-link:hover,
.nav-link.active {
  background: #004080;
  border-radius: 5px;
}

.home-container {
  text-align: center;
  padding: 20px;
  margin-left: 25px;
}

.home-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
